body {
    background-image: url('/static/dndproject-images/paper5.avif');
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.class-image{
    
    width:300px;
    display:block;

}

.accordion-background{

    background-color: #F7E2B3;

}