{% extends 'base.html' %}
{% block title %} Ability Scores and Skills {% endblock %}




    {% block content %}
    <div class="container">
    <p>Ability scores represent traits of your character, and are exactly what they sound like. </p>
    {% for score in ability_scores %}
    <form action="/ability-info" id="ability-scores" method="POST">

      <label for="{{ score }}">{{ score }}</label>
      <select name="{{ score }}" id="{{ score }}">
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
      </select>
    

    {% endfor %}
    
    <p>"The human variant gets a +1 bonus to two ability scores."</p>

    
      <label for="abonus1">ability bonus 1</label>
      <select name="abonus1" id="abonus1">
        <option value="str">Strength</option>
        <option value="dex">Dexterity</option>
        <option value="con">Constitution</option>
        <option value="int">Intelligence</option>
        <option value="wis">Wisdom</option>
        <option value="cha">Charisma</option>
      </select>
  
   
    
      <label for="abonus2">ability bonus 2</label>
      <select name="abonus2" id="abonus2">
        <option value="str">Strength</option>
        <option value="dex">Dexterity</option>
        <option value="con">Constitution</option>
        <option value="int">Intelligence</option>
        <option value="wis">Wisdom</option>
        <option value="cha">Charisma</option>
      </select>
      <p>
        <input type="submit">
      </p>
      </form>
      
      <form ACTION="/skills-info" id="skills" method="POST">
    <p>Skills represent training that your character has had, and something that they are talented in. If you have a proficiency in a skill, 
      that means if the DM ask for a roll with that skill, you get to add your proficiency bonus You already get to skills based on your background, 
      now you get to choose skills based on your race, and class. Below is some more info about skills, but they are mostly exactly what their name suggests. </p>


<div class="container">
  <div class="accordion" id="accordionSkills">
      <div class="accordion-item accordion-background">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
            <strong>Skills Info</strong>
          </button>
        </h2>
        <div id="collapseSkills" class="accordion-collapse collapse" data-bs-parent="#accordionSkills">
          <div class="accordion-body">
            <p>In Dungeons & Dragons 5th Edition (D&D 5e), skills represent a character's proficiency and expertise in various areas. 
              Here's a brief description of all the skills in the game:
              <strong>Acrobatics</strong>: This skill reflects a character's agility, balance, and coordination.
              It is used for performing acrobatic maneuvers, avoiding falls or obstacles, and maintaining balance in precarious situations.<br>
              <strong>Animal Handling</strong>: Animal Handling represents a character's ability to interact with and understand animals.
              It is used for calming or controlling animals, handling mounts, or interpreting their behavior.<br>
              <strong>Arcana</strong>: Arcana represents a character's knowledge and understanding of magic, spells,
              and magical creatures. It is used for identifying magical items, recalling lore about spells or magical phenomena,
              and deciphering magical writings.<br>
              <strong>Athletics</strong>: Athletics measures a character's physical strength and athletic prowess.
              It is used for feats of strength, climbing, swimming, jumping, or engaging in physically demanding activities.<br>
              <strong>Deception</strong>: Deception measures a character's ability to convincingly lie, trick, or
              mislead others. It is used for disguises, bluffing, forging documents, or maintaining a false identity.<br>
              <strong>History</strong>: History represents a character's knowledge of past events, civilizations,
              and historical figures. It is used for recalling information about historical events, ancient ruins, or
              understanding the significance of historical artifacts.<br>
              <strong>Insight</strong>: Insight reflects a character's ability to read people's intentions and emotions.
              It is used for detecting lies, assessing someone's trustworthiness, or understanding unspoken messages through body language.<br>
              <strong>Intimidation</strong>: Intimidation measures a character's ability to instill fear or exert dominance over others. It is used for intimidating or coercing individuals, making threats, or asserting authority.<br>
              <strong>Investigation</strong>: Investigation represents a character's ability to scrutinize and analyze details to uncover clues or hidden information. It is used for searching for secret doors, finding hidden objects, or piecing together information from a crime scene.<br>
              <strong>Medicine</strong>: Medicine reflects a character's knowledge and proficiency in treating injuries and ailments. 
              It is used for stabilizing dying characters, providing first aid, diagnosing illnesses, or administering antidotes.<br>
              <strong>Nature</strong>: Nature represents a character's understanding of the natural world, including animals, plants, 
              and geography. It is used for identifying creatures, tracking, foraging, or recalling information about the natural environment.<br>
              <strong>Perception</strong>: Perception measures a character's awareness and keenness of the senses. 
              It is used for detecting hidden objects, spotting traps, noticing details, or eavesdropping.<br>
              <strong>Performance</strong>: Performance reflects a character's skill in entertaining an audience through artistic 
              expression. It is used for acting, singing, playing a musical instrument, or any other form of performance art.<br>
              <strong>Persuasion</strong>: Persuasion measures a character's ability to influence others through charm, diplomacy, or 
              negotiation. It is used for convincing NPCs, negotiating deals, or swaying attitudes through reasoned arguments.<br>
              <strong>Religion</strong>: Religion represents a character's knowledge of deities, religious practices, and religious 
              texts. It is used for recalling information about religious rituals, identifying religious symbols, or understanding 
              religious customs.<br>
              <strong>Sleight of Hand</strong>: Sleight of Hand measures a character's dexterity and nimbleness in performing manual 
              tricks or manipulating objects covertly. It is used for pickpocketing, concealing small objects, or 
              performing tricks with cards or coins.<br>
              <strong>Stealth</strong>: Stealth represents a character's ability to move silently and remain unnoticed. 
              It is used for sneaking, hiding, moving silently, or avoiding detection.<br>
              <strong>Survival</strong>: Survival reflects a character's ability to live off the land, navigate 
              in the wilderness, and find sustenance.<br>            
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

      {% if background == 'Folk-hero' %}
        <p> For a folk hero background, you already have skill proficiencies in Animal handling, and survival.</p>
      {% endif %}
      {% if background == 'Noble' %}
        <p> For a Noble background, you already have skill proficiencies in history, and persuasion.</p>
      {% endif %}
      {% if background == 'Outlander' %}
        <p> For an Outlander background, you already have skill proficiencies in athletics, and survival.</p>
      {% endif %}
      {% if background == 'Sailor' %}
        <p> For a Sailor background, you already have skill proficiencies in athletics, and perception.</p>
      {% endif %}
      {% if background == 'Soldier' %}
        <p> For a Soldier background, you already have skill proficiencies in  , and survival.</p>
      {% endif %}

    <h1>Skills to select</h1>

    <h2>Skill based on your race as a human(variant human):</h2>
        <label for="rskill">skills to select</label>
        <select name="rskill" id="rskill">
          <option value="Acrobatics">Acrobatics</option>
          <option value="Animal handling">Animal Handling</option>
          <option value="Arcana">Arcana</option>
          <option value="Athletics">Athletics</option>
          <option value="Deception">Deception</option>
          <option value="History">History</option>
          <option value="Insight">Insight</option>
          <option value="Intimidation">Intimidation</option>
          <option value="Investigation">Investigation</option>
          <option value="Medicine">Medicine</option>
          <option value="Nature">Nature</option>
          <option value="Perception">Perception</option>
          <option value="Performance">Performance</option>
          <option value="Persuasion">Persuasion</option>
          <option value="Religion">Religion</option>
          <option value="Sleight of hand">Sleight of hand</option>
          <option value="Stealth">Stealth</option>
          <option value="Survival">Survival</option>
        </select>
    
      <div class="container">
      <p>Select two skills granted by your class</p>
      </div>
    
        <label for="cskill1">skills to select</label>
        <select name="cskill1" id="cskill1">
          <option value="Acrobatics">Acrobatics</option>
          <option value="Animal handling">Animal Handling</option>
          <option value="Athletics">Athletics</option>
          <option value="History">History</option>
          <option value="Insight">Insight</option>
          <option value="Intimidation">Intimidation</option>
          <option value="Perception">Perception</option>
          <option value="Survival">Survival</option>
        </select>
    

      
        <label for="cskill2">skills to select</label>
        <select name="cskill2" id="cskill2">
          <option value="Acrobatics">Acrobatics</option>
          <option value="Animal handling">Animal Handling</option>
          <option value="Athletics">Athletics</option>
          <option value="History">History</option>
          <option value="Insight">Insight</option>
          <option value="Intimidation">Intimidation</option>
          <option value="Perception">Perception</option>
          <option value="Survival">Survival</option>
        </select>

        <p>
          <input type="submit">
        </p>
      </form>

      <script src='/static/js/asverify.js'></script>
      <script src='/static/js/skillsverify.js'></script>
      <a href="/feats"> Feats</a>
    </div>
      {% endblock %}
  