<!doctype html>
<html lang = "en">
  <head>
    page2
    <title>Ability Scores and Skills</title>
  </head>



  <body>
    <p>Ability scores represent traits of your character, and are exactly what they sound like. </p>
    {% for score in ability_scores %}
    <form action="/ability-info" id="ability-scores" method="POST">

      <label for="{{ score }}">{{ score }}</label>
      <select name="{{ score }}" id="{{ score }}">
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
      </select>
    

    {% endfor %}
    
    <p>"The human variant gets a +1 bonus to two ability scores."</p>

    
      <label for="abonus1">ability bonus 1</label>
      <select name="abonus1" id="abonus1">
        <option value="str">Strength</option>
        <option value="dex">Dexterity</option>
        <option value="con">Constitution</option>
        <option value="int">Intelligence</option>
        <option value="wis">Wisdom</option>
        <option value="cha">Charisma</option>
      </select>
  
   
    
      <label for="abonus2">ability bonus 2</label>
      <select name="abonus2" id="abonus2">
        <option value="str">Strength</option>
        <option value="dex">Dexterity</option>
        <option value="con">Constitution</option>
        <option value="int">Intelligence</option>
        <option value="wis">Wisdom</option>
        <option value="cha">Charisma</option>
      </select>
      <p>
        <input type="submit">
      </p>
      </form>
      
      <form ACTION="/skills-info" id="skills" method="POST">
    <p>Skills represent training that your character has had, and something that they are talented in. If you have a proficiency in a skill, 
      that means if the DM ask for a  roll with that skill, you get to add your proficiency bonus. You already get to skills based on your background, 
      now you get to choose skills based on your race, and class.</p>

      {% if background == 'Folk-hero' %}
        <p> For a folk hero background, you already have skill proficiencies in Animal handling, and survival.</p>
      {% endif %}
      {% if background == 'Noble' %}
        <p> For a Noble background, you already have skill proficiencies in history, and persuasion.</p>
      {% endif %}
      {% if background == 'Outlander' %}
        <p> For an Outlander background, you already have skill proficiencies in athletics, and survival.</p>
      {% endif %}
      {% if background == 'Sailor' %}
        <p> For a Sailor background, you already have skill proficiencies in athletics, and perception.</p>
      {% endif %}
      {% if background == 'Solider' %}
        <p> For a Solider background, you already have skill proficiencies in , and survival.</p>
      {% endif %}

    <h1>Skills to select</h1>

    <h2>Skill based on your race as a human(variant human):</h2>
        <label for="rskill">skills to select</label>
        <select name="rskill" id="rskill">
          <option value="Acrobatics">Acrobatics</option>
          <option value="Animal handling">Animal Handling</option>
          <option value="Arcana">Arcana</option>
          <option value="Athletics">Athletics</option>
          <option value="Deception">Deception</option>
          <option value="History">History</option>
          <option value="Insight">Insight</option>
          <option value="Intimidation">Intimidation</option>
          <option value="Investigation">Investigation</option>
          <option value="Medicine">Medicine</option>
          <option value="Nature">Nature</option>
          <option value="Perception">Perception</option>
          <option value="Performance">Performance</option>
          <option value="Persuasion">Persuasion</option>
          <option value="Religion">Religion</option>
          <option value="Sleight of hand">Sleight of hand</option>
          <option value="Stealth">Stealth</option>
          <option value="Survival">Survival</option>
        </select>
    

      <p>two skills proficiencies granted by your class</p>
    
        <label for="cskill1">skills to select</label>
        <select name="cskill1" id="cskill1">
          <option value="Acrobatics">Acrobatics</option>
          <option value="Animal handling">Animal Handling</option>
          <option value="Athletics">Athletics</option>
          <option value="History">History</option>
          <option value="Insight">Insight</option>
          <option value="Intimidation">Intimidation</option>
          <option value="Perception">Perception</option>
          <option value="Survival">Survival</option>
        </select>
    

      
        <label for="cskill2">skills to select</label>
        <select name="cskill2" id="cskill2">
          <option value="Acrobatics">Acrobatics</option>
          <option value="Animal handling">Animal Handling</option>
          <option value="Athletics">Athletics</option>
          <option value="History">History</option>
          <option value="Insight">Insight</option>
          <option value="Intimidation">Intimidation</option>
          <option value="Perception">Perception</option>
          <option value="Survival">Survival</option>
        </select>

        <p>
          <input type="submit">
        </p>
      </form>

      <script src='/static/js/asverify.js'></script>
      <script src='/static/js/skillsverify.js'></script>
      <a href="/feats"> Feats</a>
  </body>
</html>