{% extends 'base.html' %}
    page4
    {% block title %}
      equipment
    {% endblock %}

  {% block content %}
   <form action="add-equipment" method="POST">

    <p>
      <input type="submit">
    </p>
   </form>

   <div class="container">

    In D&D, equipment and adventuring gear refer to the various tools, weapons, armor, and items that characters use during their adventures. Here's a short summary of the different types of equipment and what they do:

<li>Weapons: Weapons are used for combat and can vary from simple melee weapons like swords, axes, and maces, 
to ranged weapons like bows and crossbows. Different weapons have different damage types, ranges, and properties, allowing characters 
to engage in different combat styles.</li>

<li>Armor: Armor provides protection to characters in combat, reducing the damage they take from attacks. 
There are different types of armor, ranging from light armor (such as leather) to medium (like chainmail) and 
heavy armor (such as plate armor). Heavier armor offers better protection but can also impede movement and impose 
disadvantages on certain abilities.</li>

<li>Adventuring Gear: Adventuring gear encompasses a wide range of items used in various 
  situations during quests and exploration. This includes things like backpacks, rope, torches, bedrolls, and rations. 
  These items are essential for survival, exploration, and overcoming obstacles encountered in the game world.</li>

<li>Tools: Tools are specialized items used for specific tasks and skills. Examples include thieves' tools for lockpicking, 
  artisan's tools for crafting, musical instruments for performance, and healer's kits for tending to wounds. Tools often grant 
  proficiency bonuses or advantages when performing related tasks or skill checks.</li>

<li>Consumables: Characters can carry consumable items such as potions, scrolls, and spell components. 
  Potions can provide temporary bonuses or healing effects, scrolls contain spells that can 
  be cast, and spell components are materials necessary for casting certain spells.</li>

  <li>Mounts and Vehicles: For travel and transportation, characters can acquire mounts like horses or other 
    creatures, as well as vehicles like wagons or boats. These aid in traversing long distances or navigating through challenging terrains.</li>

  <li>Magical Items: In addition to regular equipment, characters may come across or obtain magical items with unique properties or 
    powers. These can range from enchanted weapons and armor to artifacts with powerful abilities. Magical items can greatly impact 
    a character's capabilities and may possess significant narrative or gameplay importance.</li>

   </div>

   <a href="/otherstats"> Let's talk about a few other important stats </a>
  {% endblock %}