<!DOCTYPE html>
<html lang = "en">
<head>
    page3
<title>
    Feats
</title>

</head>
<body>
<p>
    explination about feats. There are many more feats in the book, here are some to choose from
    for this example
</p>
<form action="/create-feats" method="POST">
<li>
    <input type="radio" name="feats" value="Durable" id="Durable">
    <label for="Durable">durable: info</label></li>
<li>
    <input type="radio" name="feats" value="Lucky" id="Lucky">
    <label for="Lucky">Lucky: info</label></li>
<li>
    <input type="radio" name="feats" value="Savage attacker" id="Savage attacker">
    <label for="Savage attacker">Savage Attacker: info</label></li>


<p>
    Fighting styles are like feats that are specific for the fighter class. If you're not going to play a fighter,
     you can skip this section, but do know that your class will 
    have their own mechanics that you'll need to understand before showing up at the game.
    select the great weapon style if you want to skip

</p>
    <li>
        <input type="radio" name="fighting style" value="Archery" id="Archery">
        <label for="Archery">archery: info</label></li>
    <li>
        <input type="radio" name="fighting style" value="Defense" id="Defense">
        <label for="Defense">defense: info</label></li>
    <li>
        <input type="radio" name="fighting style" value="Dueling" id="Dueling">
        <label for="Dueling">dueling: info</label></li>
    <li>
        <input type="radio" name="fighting style" value="Great Weapon Fighting" id="Great weapon fighting">
        <label for="Great weapon fighting">Great weapon fighting: info</label></li>
    <li>
        <input type="radio" name="fighting style" value="Protection" id="Protection">
        <label for="Protection">Protection: info</label></li>
    <li>
        <input type="radio" name="fighting style" value="Two-weapon fighting" id="Two-weapon fighting">
        <label for="Two-weapon fighting">Two-weapon fighting: info</label></li>
        
        <p>
            <input type="submit">
          </p>
    
        </form>
        <a href="/equipment"> Adventuring Gear!</a>
</body>