{% extends 'base.html' %}
{% block title %}History fo D&D {% endblock %}


{% block content %}
    Very brief history on D&D and it’s origins.

    In order to understand D&D history, we have to look way back. H. G. Wells is credited as the inventor of modern wargaming, 
    starting with the game “Little Wars.” LIttle Wars is a game that has rules for playing with toy soldiers and setting up various scenarios of
     how to play out a war scene. 

    From there for many decades people would develop various games, scenarios, and rule sets for running other scenes of war, and battle. 

    One evening though…
    “Sometime in the late '60s, a Twin Cities historical wargaming enthusiast named David Wesley invited his friends over to play a game. 
    He told the 20 players about the fictional German town of Braunstein, and assigned them all roles within it: military personnel, town mayor, 
    banker, university chancellor, what have you. The players interacted with one another in character, and Wesley, as the referee, made on-the-fly
     rulings on how to resolve situations as they came up. 
    Wesley thought the whole thing was a catastrophe, but his friends lost their minds over it. One of them, Dave Arneson, would be inspired to co-create what 
    ultimately became Dungeons & Dragons, the first published "roleplaying game" of it's kind.” -Brian C. Miller in a Cracked Article. https://www.cracked.com/article_29032_how-to-get-into-tabletop-roleplaying-games-in-4-easy-steps.html

    Then, in 1974, Gary Gygax and Dave Arneson published through Tactical Studies Rules inc. the first Dungeons and Dragons book. 
    
    From there, the timeline as follows, with more rules, were published under TSR: Advanced D&D in 1977, and D&D 2nd edition in 1989. In 1997, Wizards of the Coast acquired the license to D&D. 2000, D&D 3rd ED(This is where the Open Gaming License came up. Pop that term in a search engine sometime), 2003 D&D 3.5ed. 4th ED in 2008, and what we’re using today, D&D 5th ed in 2014

    <a href="/menu">Main Menu</a>
{% endblock %}
