<!DOCTYPE html>
<html lang = "en">
<head>
<title>
    MAIN MENU
</title>

</head>

<h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
create new account
<form action="/user" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    
    <p>
        User name <input type="text" name="user_name"> 
        
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
<div id="menu-body" class="menu">
    
    <p>
       <a href="/history"> history of D&D </a>
    </p>
    <p>
        new to roleplaying?
    </p>
    <p>
        new to D&D?
    </p>
    <p>
        
    </p>

</div>
</body>

</html>