<!DOCTYPE html>
<html lang = "en">
<head>
<title>
    MAIN MENU
</title>

</head>

<a>Login</a>
<form>
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit">
  </form>
<a>create new account</a>
<form>
    <input type="text" name="email">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit">
  </form>
<body>
<div id="menu-body" class="menu">
    
    <p>
       <a href="/history"> history of D&D </a>
    </p>
    <p>
        new to roleplaying?
    </p>
    <p>
        new to D&D?
    </p>
    <p>
        
    </p>

</div>
</body>

</html>