{% extends 'base.html' %}

  {% block title %} MAIN MENU {% endblock %}
  {% block content %}
  {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    {% endfor %}
  <div class="text-center">
<h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
    <input type="text" placeholder="Email" name="email">
    </p>

    <p>
    <input type="password" placeholder="Password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
    <h2>Create new account</h2>
<form action="/user" method="POST">
    <p>
      <input type="text" placeholder="Email" id="create-email" name="email">
    </p>
    <p id="email-message"></p>
    <p>
       <input type="text" placeholder="User-name" name="user_name"> 
        
    </p>

    <p>
    <input type="password" placeholder="Password" name="password">
    </p>

    <p>
      <input id=create_account_button type="submit">
    </p>
  </form></div>
<div id="menu-body" class="menu text-center">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <a href="/history"> history of D&D </a>
      </div>
      <div class="col">
        If you are completely new to gaming, start here
      <a href="/new-to-roleplaying"> new to roleplaying</a>
      </div>
      <div class="col">
      If you have played some games before, but have never played D&D 5.0, start here
      <a href="/new-to-dnd"> new to D&D </a>
      </div>
    </div>
  </div>
</div>
<script src='/static/js/dndjava.js'></script>
{% endblock %}