{% extends 'base.html' %}
{% block title %}new-to-dnd!{% endblock %}
{% block content %}
    <p>brief explination of D&D
      now that you know the basics of tabletop roleplay gaming, lets talk about what a character in D&D looks like.
      
      characters in D&D have three very distinguishing traits:

      <div class="accordion" id="accordionnewDnD">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#race" aria-expanded="false" aria-controls="race">
            Race
          </button>
        </h2> 
        <div id="race" class="accordion-collapse collapse" data-bs-parent="#accordionnewDnD">
          <div class="accordion-body">
            You can play different races in 5e. They come with their own culture and traits.  You can read more in-depth on page 17 in the player handbook. 
            Here is a short list of the races, and a brief description about them:
            <p><strong>Dwarf</strong>: Hardy and stout, dwarves are known for their resilience and craftsmanship. 
              They excel in mining and stonework, possess darkvision, and have a natural resistance to poison.
               Dwarves are typically associated with mountainous regions and have a strong sense of honor and tradition.</p>
            <p><strong>Elf</strong>: Graceful and long-lived, elves are highly attuned to magic and nature. 
              They are agile and perceptive, possessing keen senses and proficiency with bows. 
              Elves have different subraces, such as High Elves (arcane-inclined), Wood Elves (outdoorsy and nimble),
               and Drow (dark elves associated with the Underdark).</p>
            <p><strong>Halfling</strong>: Small and nimble, halflings are known for their luck and good-natured personalities.
               They excel in stealth and dexterity-based skills and have the ability to reroll certain types of failed rolls. 
               Halflings are typically found in peaceful communities and have a knack for surviving perilous situations.
            </p>
            <p><strong>Human</strong>: The most adaptable and versatile of all races, humans possess no specific racial abilities but can excel
               in any class or role due to their flexibility. They are found in diverse cultures and regions, and their ambition
                and drive make them well-suited for a wide range of endeavors.</p>
            <p><strong>Dragonborn</strong>: Proud and noble, dragonborn are humanoid beings with draconic ancestry. They have scales,
               a breath weapon associated with their draconic heritage, and resistance to a damage type related to their ancestry
                (such as fire or lightning). Dragonborn often embody the qualities of the dragons they descend from.</p>
            <p><strong>Gnome</strong>: Small and curious, gnomes possess a natural affinity for illusion and invention. They have a reputation 
              for being clever and inventive, and their tinkering abilities often produce interesting and whimsical gadgets. 
              Gnomes have subraces like Forest Gnomes (more connected to nature) and Rock Gnomes (more focused on mechanical devices).</p>
            <p>
              <strong>Half-Elf</strong>: Born from the union of humans and elves, half-elves combine traits of both races. 
              They are charismatic and adaptable, possessing some elven grace and human versatility. Half-elves can choose from both 
              human and elven abilities, making them excellent diplomats and mediators.
            </p>
            <p><strong>Half-Orc</strong>: A blend of human and orc bloodlines, half-orcs are physically imposing and possess great strength. 
              They are known for their endurance and resilience, and their intimidating presence can often be an advantage. 
              Half-orcs have a mix of human and orcish abilities, making them formidable warriors.
            </p>
            <p><strong>Tiefling</strong>: Descendants of fiendish creatures, tieflings have infernal heritage and often display demonic features. 
              They possess dark and magical abilities, including resistance to fire and the ability to cast spells. Tieflings are often seen with
               suspicion due to their demonic appearance but can prove to be powerful allies.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#c-classes" aria-expanded="false" aria-controls="c-classes">
            Classes
          </button>
        </h2>
        <div id="c-classes" class="accordion-collapse collapse" data-bs-parent="#accordionnewDnD">
          <div class="accordion-body">
            <p>Further information can be found about the classes on page 45 of the players handbook. 
              Right now, here is a short summary of the classes</p>

            <p><strong>Barbarian</strong>: Masters of primal rage, barbarians excel in physical combat. They have high hit points, strong melee attacks, 
              and the ability to enter a state of rage that grants increased damage and resistance to damage.</p>
            <p><strong>Bard</strong>: Versatile performers and spellcasters, bards use their music and words to inspire allies, manipulate emotions,
               and cast spells. They can also choose from a variety of magical skills and support abilities.</p>
            <p><strong>Cleric</strong>: Devoted to a deity or divine concept, clerics are potent healers and divine spellcasters. 
              They have access to a wide range of spells and abilities, and their powers depend on their chosen deity or domain.</p>
            <p><strong>Druid</strong>: Connected to nature, druids possess spells and abilities related to animals, plants, and natural forces. 
              They can shapeshift into animals, heal wounds, summon creatures, and wield elemental forces.</p>
            <p><strong>Fighter</strong>: Masters of martial combat, fighters are skilled warriors proficient with a variety of weapons and armor. 
              They have access to multiple attacks, combat styles, and can specialize in different combat techniques.</p>
            <p><strong>Monk</strong>: Disciplined warriors and masters of martial arts, monks are agile fighters who rely on speed, precision, 
              and unarmed strikes. They possess extraordinary physical abilities and can harness their ki energy for supernatural effects.</p>
            <p><strong>Paladin</strong>: Holy knights and champions of justice, paladins combine martial prowess with divine magic. They are heavily
               armored, skilled in combat, and possess spells that aid them in smiting evil and protecting their allies.</p>
            <p><strong>Ranger</strong>: Skilled trackers and explorers, rangers are adept at surviving in the wilderness and hunting down their foes.
               They have a connection to nature and can specialize in archery, two-weapon fighting, or spellcasting.</p>
            <p><strong>Rogue</strong>: Masters of stealth and cunning, rogues excel in skills such as lockpicking, sneaking, and disarming traps.
               They are also deadly in combat, delivering precise strikes and dealing extra damage with sneak attacks.</p>
            <p><strong>Sorcerer</strong>: Innately gifted with magic, sorcerers possess a natural talent for spellcasting. 
              They draw power from their bloodline or magical heritage, and their spells are fueled by sorcery points, 
              which allow for metamagic manipulation.</p>
            <p><strong>Warlock</strong>: Forged pacts with otherworldly beings, warlocks gain their magical abilities from a patron. 
              They have access to eldritch invocations, spells, and can channel their patron's power to unleash devastating effects.</p>
            <p><strong>Wizard</strong>: Scholars of arcane knowledge, wizards study and prepare spells from spellbooks. 
              They have a vast array of spells at their disposal, making them highly versatile casters capable of controlling 
              the battlefield and solving problems with magic.</p>
            <p><strong>Artificer</strong>: Masters of magical invention and item creation, artificers blend technology and magic. 
              They can create magical items, infuse objects with temporary enchantments, and have access to a unique set of spells and abilities</p>

          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGM" aria-expanded="false" aria-controls="collapseGM">
            Level
          </button>
        </h2>
        <div id="collapseGM" class="accordion-collapse collapse" data-bs-parent="#accordionnewDnD">
          <div class="accordion-body">
            <p>In Dungeons & Dragons 5th Edition (D&D 5E), the concept of levels represents a character's progression and growth throughout their adventuring career.
               Characters start at 1st level and can advance up to the maximum level of 20, gaining new abilities, powers, and becoming more proficient in their chosen class.
              Characters progress in their levels with experience points. 
              How players gain experience points is ultimately up to the DM, but a common way is through defeating foes in combat. 
            </p>
          </div>
        </div>
      </div>
    </div>

    </p>

    <p>note: we will be build a sample character to help further explain important points for playing D&D 5e.
      the character we will be building is a level 1 human (variant human) fighter.
    </p>

    <a href="/cnamefield"> Now let's start building a character</a>

    {% endblock %}
