<!DOCTYPE html>
<html lang = "en">
<head>
    page5
<title>
    other stats
</title>

</head>
<body>
<form action="/otherstats-add" method="POST">
    <p>
        <input type="submit">
      </p>

</form>
<p>
    explain what the proficiency bonus is, and how to get it.
    mention what weapons and tools proficiencies are, and how they work(just like skills)
    mention the armor class, but don't calculate it here, you won't know until you get to equipment
</p>

<p>
    explain how initiative works, and how to 
</p>
<p>
    explain how speed works
</p>

</body>

</html>