<!DOCTYPE html>
<html lang = "en">
<head>
    page5
<title>
    other stats
</title>

</head>
<body>
<form action="/otherstats-add" method="POST">
    <p>
        <input type="submit">
      </p>

</form>
<p>
    A proficiency bonus is assign based on your class and level, in the player's handbook. 
    For a fighter at level 1, your proficiency bonus is 2.
    You also get weapons and tools proficiencies, that work just like skill proficiencies. 
    mention the armor class, but don't calculate it here, you won't know until you get to equipment
</p>

<p>
    explain how initiative works, and how to 
</p>
<p>
    explain how speed works
</p>

</body>

</html>