{% extends 'base.html' %}

{% block title %} other stats {% endblock %}

{% block content %}
<div class="container">

<p>
    A proficiency bonus is assign based on your class and level, in the player's handbook. 
    For a fighter at level 1, your proficiency bonus is 2.
    You also get weapons and tools proficiencies, that work just like skill proficiencies. 
    mention the armor class, but don't calculate it here, you won't know until you get to equipment
</p>

<p>
    In D&D 5th Edition, initiative determines the order in which characters and creatures take their turns
     during combat. It represents their speed and readiness to act in the chaos of battle. 


</p>
<p>
    Most PCs will start with a base speed of 30ft, which is how much you can move in a single round of combat. 
</p>
<p>
    Hit points represent the amount of damage a player can take. 
</p>

<a href="/csheet">Let's take a look at what your character sheet looks like</a></div>
{% endblock %}